$base-color01:#fafafa;
$base-color02:#231F20;
$main-color:#DC9248;
$sub-color:#56748A;

@media (min-width:600px) {
    html {
        font-size: 15px;
    }

    //loading

    #loading .loading-image {
        width: 15%;
        margin: 0 auto;
        padding: 170px 0 0;

    }

    //nav
    nav {
        #topLogo {
            width: 120px;
            height: 120px;
            padding: 0 4px 0 0;
        }
    }

    //main visual
    #mainVisual .mainMsg {
        top: 35%;
        left: 8%;

        h2 {
            font-size: 4.5rem;
        }

        p,
        .topContact {
            font-size: 1.3rem;
        }
    }

    // concept
    #concept {
        display: flex;
        justify-content: flex-start;

        &::after {
            display: none;
        }

        .inner {
            margin: -10px auto 0 -30px;
            min-width: 455px;

            h2 {
                display: block;
                margin-left: -280px;
            }

            .msg {
                padding-left: 50px;
            }
        }

        .img-end {
            transform: translateX(-225px);

            .img-kitchen {
                min-width: 300px;
            }

            .img-tableware {
                top: 21%;
                right: -8%;
                max-width: 170px;
            }
        }
    }


    .sunset{
        background-attachment: fixed;
    }

    //contact
    #contact .company{
        display: flex;
        justify-content: space-around;
        .telBlock{
            text-align: left;
            margin-left: 0;
            margin-top: 40px;
            .icon{
                width: 100px;
            }
        }
        .companyInfo{
            text-align: right;
            margin-top: 0;
            img{
                width: 35%;
                margin-right: 0;
            }
        }
    }

    //footer
}