$base-color01:#fafafa;
$base-color02:#231F20;
$main-color:#DC9248;
$sub-color:#56748A;

@media (min-width:900px) {

    // base
    #navigationSP,
    #mainVisual .topContact,
    #concept .inner .msg .inline {
        display: none;
    }

    .content-wrapper {
        width: 95%;
        margin-left: 5%;
    }

    //loading

    .loading .loading-image {
        width: 10%;
        margin: 0 auto;
        padding: 160px 0 0;

    }

    //nav
    nav {
        height: 70px;
        position: fixed;
        z-index: 888;
        top: 0;
        right: 0;
        background: white;

        #topLogo {
            width: 130px;
            height: 130px;
        }

        .navigationPC {
            display: flex;
            justify-content: space-between;
            margin-left: 126px;
            margin-top: 0;
            padding-left: 100px;
            box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.1);

            li {
                list-style-type: none;
                font-family: "Anton", sans-serif;
                font-weight: 800;
                padding: 12px;
                text-align: center;

                &:last-child {
                    background: $base-color02;
                    height: 70px;

                    a {
                        color: $base-color01;

                        &:hover {
                            border-top: $main-color solid 3px;
                            color: $main-color;
                        }
                    }
                }

                a {
                    text-decoration: none;
                    color: $base-color02;
                    font-size: 1.6rem;

                    &:hover {
                        border-top: $base-color02 solid 3px;
                    }
                }
            }

        }
    }

    //main visual
    #mainVisual {
        .slide {
            width: 100%;
            margin: 0 0 0 auto;
        }

        .mainMsg {
            top: 35%;
            left: 10%;

            p {
                margin: 9px 0;
            }

            .topContact {
                margin: 9px 0;
            }
        }

        .side-pc {
            display: block;
            position: fixed;
            transform: rotate(90deg);
            left: -120px;
            top: 48%;

            span {
                color: $main-color;
            }

            i {
                margin: 0 1px;
                transition: all .5s ease;
                &:hover {
                    cursor: pointer;
                    transform: scale(1.1);
                }
            }
        }
    }

    //concept
    #concept .img-end{
        transform: translateX(-30%);
        .img-kitchen {
            min-width: 300px;
        }
        }

    //lifestyle
    // #lifestyle {
    //     .indoors {
    //         .indoors-text {
    //             width: 35%;
    //             top: 18vw;
    //         }
    //     }
    // }
        // lifestyle
        #lifestyle {
            margin-top: 100px;
            .msg{
                margin-top: -5%;
            }
    
            .lifestyle {
                margin: 0;
    
                .indoors-text {
                    position: absolute;
                    width: 35%;
                    top: 18vw;
                    left: 7%;
                    padding: 0;
                    color: white;
    
                    h4 {
                        background: black;
                    }
                }
            }
    
            .bgDark {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                transition: all .8s;
                background-color: transparent;
            }
            .turnDark{
                background-color: rgba(0, 0, 0, 0.4);
            }
        }
        .outdoors-wrap{
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
            .outdoors{
                .rescale{
                    height: 23vw;
                    object-fit: cover;
                }
            }
        }

        //plan
        #plan {
            .flex{
                display: flex;
                justify-content: space-around;
            }
            .rescale{
                height: 38vw;
                object-fit: cover;
            }
            .bgBlack {
                position: relative;
    
                &::before {
                    content: '';
                    width: 100%;
                    height: 83%;
                    top: 170px;
                    right: 0;
                }
    
                .txtBlock {
    
                    // background: $base-color02;
                    .msgBlock {
                        background: transparent;
                        margin-right: 10%;
    
                        .description {
                            width: 86%;
    
                            a {
                                display: none;
                            }
                        }
    
                    }
                }
            }
        }

    //contact
        #contact{
            .bgBlack{
                margin-top: 125px;
                .grid{
                    display: grid;
                    grid-template-columns: 5fr 4fr;
                    .msg{
                        padding-top: 8%;
                    }
                    .imgBlock{
                        margin-top: -100px;
                    }
                    .button{
                        padding-top: 0;
                    }
                }
            }
            .company{
                padding: 3%
            }
        }

    }