@charset "UTF-8";
/* Document
 * ========================================================================== */
/**
 * Add border box sizing in all browsers (opinionated).
 */
*,
::before,
::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/**
  * 1. Add text decoration inheritance in all browsers (opinionated).
  * 2. Add vertical alignment inheritance in all browsers (opinionated).
  */
::before,
::after {
  text-decoration: inherit;
  /* 1 */
  vertical-align: inherit;
  /* 2 */
}

/**
  * 1. Use the default cursor in all browsers (opinionated).
  * 2. Change the line height in all browsers (opinionated).
  * 3. Use a 4-space tab width in all browsers (opinionated).
  * 4. Remove the grey highlight on links in iOS (opinionated).
  * 5. Prevent adjustments of font size after orientation changes in
  *    IE on Windows Phone and in iOS.
  * 6. Breaks words to prevent overflow in all browsers (opinionated).
  */
html {
  cursor: default;
  /* 1 */
  line-height: 1.5;
  /* 2 */
  -moz-tab-size: 4;
  /* 3 */
  -o-tab-size: 4;
     tab-size: 4;
  /* 3 */
  -webkit-tap-highlight-color: transparent;
  -ms-text-size-adjust: 100%;
  /* 5 */
  -webkit-text-size-adjust: 100%;
  /* 5 */
  word-break: break-word;
  /* 6 */
}

/* Sections
  * ========================================================================== */
/**
  * Remove the margin in all browsers (opinionated).
  */
body {
  margin: 0;
}

/**
  * Correct the font size and margin on `h1` elements within `section` and
  * `article` contexts in Chrome, Edge, Firefox, and Safari.
  */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/* Grouping content
  * ========================================================================== */
/**
  * Remove the margin on nested lists in Chrome, Edge, IE, and Safari.
  */
dl dl,
dl ol,
dl ul,
ol dl,
ul dl {
  margin: 0;
}

/**
  * Remove the margin on nested lists in Edge 18- and IE.
  */
ol ol,
ol ul,
ul ol,
ul ul {
  margin: 0;
}

/**
  * 1. Add the correct sizing in Firefox.
  * 2. Show the overflow in Edge 18- and IE.
  */
hr {
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */
}

/**
  * Add the correct display in IE.
  */
main {
  display: block;
}

/**
  * Remove the list style on navigation lists in all browsers (opinionated).
  */
nav ol,
nav ul {
  list-style: none;
  padding: 0;
}

/**
  * 1. Correct the inheritance and scaling of font size in all browsers.
  * 2. Correct the odd `em` font sizing in all browsers.
  */
pre {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/* Text-level semantics
  * ========================================================================== */
/**
  * Remove the gray background on active links in IE 10.
  */
a {
  background-color: transparent;
}

/**
  * Add the correct text decoration in Edge 18-, IE, and Safari.
  */
abbr[title] {
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

/**
  * Add the correct font weight in Chrome, Edge, and Safari.
  */
b,
strong {
  font-weight: bolder;
}

/**
  * 1. Correct the inheritance and scaling of font size in all browsers.
  * 2. Correct the odd `em` font sizing in all browsers.
  */
code,
kbd,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/**
  * Add the correct font size in all browsers.
  */
small {
  font-size: 80%;
}

/* Embedded content
  * ========================================================================== */
/*
  * Change the alignment on media elements in all browsers (opinionated).
  */
audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}

/**
  * Add the correct display in IE 9-.
  */
audio,
video {
  display: inline-block;
}

/**
  * Add the correct display in iOS 4-7.
  */
audio:not([controls]) {
  display: none;
  height: 0;
}

/**
  * Remove the border on iframes in all browsers (opinionated).
  */
iframe {
  border-style: none;
}

/**
  * Remove the border on images within links in IE 10-.
  */
img {
  border-style: none;
}

/**
  * Change the fill color to match the text color in all browsers (opinionated).
  */
svg:not([fill]) {
  fill: currentColor;
}

/**
  * Hide the overflow in IE.
  */
svg:not(:root) {
  overflow: hidden;
}

/* Tabular data
  * ========================================================================== */
/**
  * Collapse border spacing in all browsers (opinionated).
  */
table {
  border-collapse: collapse;
}

/* Forms
  * ========================================================================== */
/**
  * Remove the margin on controls in Safari.
  */
button,
input,
select {
  margin: 0;
}

/**
  * 1. Show the overflow in IE.
  * 2. Remove the inheritance of text transform in Edge 18-, Firefox, and IE.
  */
button {
  overflow: visible;
  /* 1 */
  text-transform: none;
  /* 2 */
}

/**
  * Correct the inability to style buttons in iOS and Safari.
  */
button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
}

/**
  * 1. Change the inconsistent appearance in all browsers (opinionated).
  * 2. Correct the padding in Firefox.
  */
fieldset {
  border: 1px solid #a0a0a0;
  /* 1 */
  padding: 0.35em 0.75em 0.625em;
  /* 2 */
}

/**
  * Show the overflow in Edge 18- and IE.
  */
input {
  overflow: visible;
}

/**
  * 1. Correct the text wrapping in Edge 18- and IE.
  * 2. Correct the color inheritance from `fieldset` elements in IE.
  */
legend {
  color: inherit;
  /* 2 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  white-space: normal;
  /* 1 */
}

/**
  * 1. Add the correct display in Edge 18- and IE.
  * 2. Add the correct vertical alignment in Chrome, Edge, and Firefox.
  */
progress {
  display: inline-block;
  /* 1 */
  vertical-align: baseline;
  /* 2 */
}

/**
  * Remove the inheritance of text transform in Firefox.
  */
select {
  text-transform: none;
}

/**
  * 1. Remove the margin in Firefox and Safari.
  * 2. Remove the default vertical scrollbar in IE.
  * 3. Change the resize direction in all browsers (opinionated).
  */
textarea {
  margin: 0;
  /* 1 */
  overflow: auto;
  /* 2 */
  resize: vertical;
  /* 3 */
}

/**
  * Remove the padding in IE 10-.
  */
[type="checkbox"],
[type="radio"] {
  padding: 0;
}

/**
  * 1. Correct the odd appearance in Chrome, Edge, and Safari.
  * 2. Correct the outline style in Safari.
  */
[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
}

/**
  * Correct the cursor style of increment and decrement buttons in Safari.
  */
::-webkit-inner-spin-button,
::-webkit-outer-spin-button {
  height: auto;
}

/**
  * Correct the text style of placeholders in Chrome, Edge, and Safari.
  */
::-webkit-input-placeholder {
  color: inherit;
  opacity: 0.54;
}

/**
  * Remove the inner padding in Chrome, Edge, and Safari on macOS.
  */
::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
  * 1. Correct the inability to style upload buttons in iOS and Safari.
  * 2. Change font properties to `inherit` in Safari.
  */
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

/**
  * Remove the inner border and padding of focus outlines in Firefox.
  */
::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
  * Restore the focus outline styles unset by the previous rule in Firefox.
  */
:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
  * Remove the additional :invalid styles in Firefox.
  */
:-moz-ui-invalid {
  box-shadow: none;
}

/* Interactive
  * ========================================================================== */
/*
  * Add the correct display in Edge 18- and IE.
  */
details {
  display: block;
}

/*
  * Add the correct styles in Edge 18-, IE, and Safari.
  */
dialog {
  background-color: white;
  border: solid;
  color: black;
  display: block;
  height: -moz-fit-content;
  height: -webkit-fit-content;
  height: fit-content;
  left: 0;
  margin: auto;
  padding: 1em;
  position: absolute;
  right: 0;
  width: -moz-fit-content;
  width: -webkit-fit-content;
  width: fit-content;
}

dialog:not([open]) {
  display: none;
}

/*
  * Add the correct display in all browsers.
  */
summary {
  display: list-item;
}

/* Scripting
  * ========================================================================== */
/**
  * Add the correct display in IE 9-.
  */
canvas {
  display: inline-block;
}

/**
  * Add the correct display in IE.
  */
template {
  display: none;
}

/* User interaction
  * ========================================================================== */
/*
  * 1. Remove the tapping delay in IE 10.
  * 2. Remove the tapping delay on clickable elements
       in all browsers (opinionated).
  */
a,
area,
button,
input,
label,
select,
summary,
textarea,
[tabindex] {
  -ms-touch-action: manipulation;
  /* 1 */
  touch-action: manipulation;
  /* 2 */
}

/**
  * Add the correct display in IE 10-.
  */
[hidden] {
  display: none;
}

/* Accessibility
  * ========================================================================== */
/**
  * Change the cursor on busy elements in all browsers (opinionated).
  */
[aria-busy="true"] {
  cursor: progress;
}

/*
  * Change the cursor on control elements in all browsers (opinionated).
  */
[aria-controls] {
  cursor: pointer;
}

/*
  * Change the cursor on disabled, not-editable, or otherwise
  * inoperable elements in all browsers (opinionated).
  */
[aria-disabled="true"],
[disabled] {
  cursor: not-allowed;
}

/*
  * Change the display on visually hidden accessible elements
  * in all browsers (opinionated).
  */
[aria-hidden="false"][hidden] {
  display: initial;
}

[aria-hidden="false"][hidden]:not(:focus) {
  clip: rect(0, 0, 0, 0);
  position: absolute;
}

/* 付け足し */
html,
body,
h1,
h2,
h3,
h4,
h5,
h6,
a,
p,
span,
em,
small,
strong,
sub,
sup,
mark,
del,
ins,
strike,
abbr,
dfn,
blockquote,
q,
cite,
code,
pre,
ol,
ul,
li,
dl,
dt,
dd,
div,
section,
article,
main,
aside,
nav,
header,
hgroup,
footer,
img,
figure,
figcaption,
address,
time,
audio,
video,
canvas,
iframe,
details,
summary,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td {
  margin: 0;
  padding: 0;
  border: 0;
}

button {
  border: none;
  outline: 0;
  background-color: transparent;
  cursor: pointer;
}

img {
  width: 100%;
}

a {
  text-decoration: none;
  color: #000;
}

li {
  list-style-type: none;
}

html {
  font-size: 13px;
  scroll-behavior: smooth;
}

body {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
  line-height: 2.1;
  letter-spacing: 1px;
  font-family: "Noto Serif JP", "Anton", serif;
  font-weight: 300;
}

.content-wrapper {
  width: 100%;
}

img {
  -webkit-box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.1);
          box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.1);
}

h2 {
  text-align: center;
  margin: 60px auto 30px;
}

h2 span {
  display: block;
}

h2 .eng {
  font-family: "Anton", sans-serif;
  font-size: 1.7rem;
  letter-spacing: 2px;
}

h2 .jp {
  font-size: 1rem;
  font-weight: 400;
  margin: 3px 80px 0;
  font-family: "noto sans JP";
  position: relative;
}

h2 .jp::before {
  content: "";
  background: url(../img/icon_wave.svg) no-repeat;
  position: absolute;
  width: 75px;
  height: 8px;
  top: -5px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.button {
  text-align: center;
}

.btn {
  width: 295px;
  border: #56748a 2px solid;
  background-color: #56748a;
  color: #fafafa;
  padding: 15px 45px;
  display: inline-block;
  margin: 8px 15px;
  letter-spacing: 1px;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.btn i {
  margin-right: 5px;
}

.btn:hover {
  color: #56748a;
  background: #fafafa;
  cursor: pointer;
}

.sns {
  margin: 0 7px;
  -webkit-transition: all .5s ease;
  transition: all .5s ease;
}

.sns:hover {
  cursor: pointer;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

#loading {
  display: block;
  width: 100%;
  height: 100vh;
  text-align: center;
  background-color: #fff;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
}

#loading .loading-image {
  width: 20%;
  margin: 0 auto;
  padding: 250px 0 0;
}

#loading .loading-image img {
  -webkit-box-shadow: none;
          box-shadow: none;
}

#loading p {
  font-weight: 700;
}

nav {
  width: 100%;
  height: 60px;
}

nav #topLogo {
  width: 90px;
  height: 90px;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 888;
}

nav .navigationSP {
  width: 65px;
  height: 60px;
  background-color: #231f20;
  position: fixed;
  top: 0;
  right: 0;
  z-index: 999;
}

nav .navigationSP .nav-inner {
  width: 60%;
  position: relative;
  left: 50%;
  top: 50%;
  display: block;
  background-color: transparent;
  border: none;
  cursor: pointer;
  outline: none;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

nav .navigationSP .nav-inner .bar1st, nav .navigationSP .nav-inner .bar2nd {
  display: block;
  background-color: #fafafa;
  height: 3px;
  width: 20px;
  margin: 7px 0 5px auto;
  -webkit-transition: 0.7s ease;
  transition: 0.7s ease;
}

nav .navigationSP .nav-inner .bar2nd {
  width: 30px;
}

nav .navigationSP .nav-inner .navText {
  display: block;
  color: #fafafa;
  margin: 0 auto;
  text-align: center;
  font-family: "noto sans JP";
  font-size: 0.8rem;
}

nav .is-open {
  background-color: transparent;
}

nav .is-open .nav-inner .bar1st, nav .is-open .nav-inner .bar2nd {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  width: 30px;
  -webkit-transition: 0.7s ease;
  transition: 0.7s ease;
}

nav .is-open .nav-inner .bar2nd {
  -webkit-transform: rotate(-45deg) translate(6px, -7px);
          transform: rotate(-45deg) translate(6px, -7px);
}

nav .is-open .nav-inner .navText {
  display: none;
}

nav .nav {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 900;
}

nav .nav .nav-body {
  text-align: center;
  padding-top: 100px;
}

nav .nav .nav-body .nav-list li a {
  color: #fafafa;
  text-decoration: none;
  font-size: 1.8rem;
  line-height: 4.5;
  font-weight: 700;
}

nav .nav .nav-body .nav-list li a:hover {
  color: #ccc;
  border-bottom: 3px solid #ccc;
}

nav .navigationPC {
  display: none;
}

.nav-enter,
.nav-leave-to {
  opacity: 0;
}

.nav-enter-to,
.nav-leave {
  opacity: 1;
}

.nav-enter-active,
.nav-leave-active {
  -webkit-transition: opacity 0.8s ease;
  transition: opacity 0.8s ease;
}

#mainVisual {
  width: 100%;
  height: 100vh;
  position: relative;
}

#mainVisual .side-pc {
  display: none;
}

#mainVisual .slide {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

#mainVisual .slide ul {
  position: relative;
  width: 100%;
  height: 100%;
  z-index: -999;
}

#mainVisual .slide ul li {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  -webkit-transition: all 2s ease-in-out;
  transition: all 2s ease-in-out;
  overflow: hidden;
}

#mainVisual .slide ul li img {
  width: 100vw;
  height: 100vh;
  -o-object-fit: cover;
  object-fit: cover;
  -webkit-animation: zoom 21s infinite;
  animation: zoom 21s infinite;
}

#mainVisual .mainMsg {
  position: absolute;
  top: 45%;
  left: 5%;
}

#mainVisual .mainMsg h2 {
  text-align: left;
  font-family: "Anton", sans-serif;
  color: #fff;
  font-size: 3.5rem;
  margin: 0;
}

#mainVisual .mainMsg p {
  display: inline-block;
  padding: 2px 10px;
  margin: 5px 0;
  background: rgba(255, 255, 255, 0.8);
}

#mainVisual .mainMsg .topContact {
  display: inline-block;
  margin: 5px 0;
  padding: 8px 10px;
  letter-spacing: 2px;
  background-color: #231f20;
  border: #231f20 solid 2px;
}

#mainVisual .mainMsg .topContact a {
  color: #fafafa;
}

#mainVisual .mainMsg .topContact a span {
  margin-left: 10px;
}

#mainVisual .mainMsg .topContact:hover a {
  color: #dc9248;
}

#mainVisual .mainMsg .topContact:hover a span {
  -webkit-animation: arrow 1.1s ease-out infinite;
          animation: arrow 1.1s ease-out infinite;
}

.scrollWrap {
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  bottom: -15px;
}

.scrollWrap .scrollBox {
  background: #231f20;
}

.scrollWrap .scrollBox .scrollText {
  font-size: 0.2rem;
  letter-spacing: 0.1rem;
  color: #fafafa;
  margin: 5px 8px;
}

.scrollWrap .scroll {
  width: 5px;
  height: 50px;
  margin: 0 auto;
  position: relative;
  overflow: hidden;
}

.scrollWrap .scroll::before {
  content: '';
  width: 1px;
  height: 60px;
  margin: 50px auto 0;
  background: #000;
  position: absolute;
  top: -150px;
  -webkit-animation: scroll 2.5s ease infinite;
          animation: scroll 2.5s ease infinite;
}

#concept {
  margin: 60px auto 0;
  padding-top: 0;
  position: relative;
}

#concept::after {
  content: "";
  position: absolute;
  width: 30%;
  height: 260px;
  right: 0;
  top: -60px;
  background-color: #231f20;
  z-index: -999;
}

#concept .img-begin {
  width: 80%;
  min-width: 265px;
  max-width: 540px;
  margin: 0;
  padding: 0;
}

#concept .inner {
  margin: 0 auto;
  width: 100%;
  z-index: -990;
}

#concept .inner .msg {
  margin: 0 auto;
  padding: 30px 20%;
  background: #231f20;
  color: #fafafa;
  text-align: center;
}

#concept .inner .msg .orange {
  color: #dc9248;
  font-weight: bold;
  font-family: "noto sans JP";
}

#concept .inner .msg p {
  line-height: 2.1;
  margin: 15px 0;
}

#concept .img-end {
  width: 100%;
  position: relative;
}

#concept .img-end .img-kitchen {
  width: 80%;
  margin: 25px 0 0 0;
}

#concept .img-end .img-tableware {
  width: 42%;
  max-width: 215px;
  position: absolute;
  right: 0;
  top: 90%;
}

#lifestyle {
  margin-top: 200px;
}

#lifestyle .lifestyle {
  position: relative;
  width: 100%;
  margin: 15px 0;
}

#lifestyle .lifestyle .lifestyle-text {
  width: 100%;
  padding: 7%;
}

#lifestyle .lifestyle .lifestyle-text h4 {
  display: inline-block;
  background: #231f20;
  color: #fafafa;
  padding: 1px 5px;
}

#lifestyle .lifestyle .lifestyle-text p {
  margin-top: 10px;
}

#lifestyle .sunset {
  background: url(../img/bg_sunset.jpg) no-repeat center center;
  background-size: cover;
  height: 40vw;
  margin-top: 40px;
}

#lifestyle .msg {
  width: 100%;
  margin: 0 auto;
  padding: 10% 5% 5%;
  text-align: center;
}

#lifestyle .msg p {
  line-height: 2.5;
}

#plan h2 {
  margin-top: 30px;
}

#plan .bgBlack {
  width: 100%;
  position: relative;
}

#plan .bgBlack::before {
  content: "";
  background-color: #231f20;
  width: 75%;
  height: 97%;
  position: absolute;
  right: 0;
  top: 50px;
  z-index: -999;
}

#plan .bgBlack .feature {
  width: 100%;
}

#plan .bgBlack .feature .imgBlock {
  width: 90%;
  z-index: 899;
}

#plan .bgBlack .feature .txtBlock {
  width: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 3fr;
      grid-template-columns: 1fr 3fr;
  z-index: -199;
}

#plan .bgBlack .feature .txtBlock .numBlock {
  font-family: "Segoe Print";
  color: #dc9248;
  font-weight: bold;
  font-size: 1.8rem;
  margin: 15px 0 auto 50px;
}

#plan .bgBlack .feature .txtBlock .msgBlock {
  color: #fafafa;
  padding: 20px;
}

#plan .bgBlack .feature .txtBlock .msgBlock h3 {
  font-family: "noto sans JP";
  font-size: 1.4rem;
  line-height: 1.5;
}

#plan .bgBlack .feature .txtBlock .msgBlock h3 span {
  font-size: 0.9rem;
}

#plan .bgBlack .feature .txtBlock .msgBlock .description {
  margin: 5% 0;
}

#plan .bgBlack .feature .txtBlock .msgBlock .description p {
  display: block;
  margin: 10px auto;
}

#plan .bgBlack .feature .txtBlock .msgBlock .description p span {
  color: #dc9248;
  font-size: 1.3rem;
  display: inline-block;
  margin-right: 8px;
}

#plan .bgBlack .feature .txtBlock .msgBlock .link {
  display: inline-block;
  padding-bottom: 5px;
}

#plan .bgBlack .feature .txtBlock .msgBlock .link a {
  color: #dc9248;
}

#plan .bgBlack .feature .txtBlock .msgBlock .link span {
  display: inline-block;
  margin-left: 7px;
  color: #dc9248;
  -webkit-transition: all .5s ease;
  transition: all .5s ease;
}

#plan .bgBlack .feature .txtBlock .msgBlock .link:hover a {
  border-bottom: 1px solid #dc9248;
}

#plan .bgBlack .feature .txtBlock .msgBlock .link:hover span {
  display: inline-block;
  -webkit-transform: translateX(10px);
          transform: translateX(10px);
}

#contact .bgBlack {
  background: #231f20;
}

#contact .bgBlack .msg {
  color: #fafafa;
  padding: 5%;
  text-align: center;
}

#contact .bgBlack .button {
  margin: 15px auto;
}

#contact .map {
  width: 100%;
}

#contact .map iframe {
  width: 100%;
  height: 50vh;
  -webkit-filter: grayscale(100%);
          filter: grayscale(100%);
  vertical-align: bottom;
}

#contact .company {
  background: #85785c;
  color: #fafafa;
  text-align: center;
  padding: 7%;
}

#contact .company img {
  -webkit-box-shadow: none;
          box-shadow: none;
}

#contact .company .telBlock {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#contact .company .telBlock div {
  margin: 0 5px;
}

#contact .company .telBlock div h3 {
  font-size: 1rem;
}

#contact .company .telBlock div p {
  font-size: 1.8rem;
}

#contact .company .telBlock .icon {
  width: 70px;
  margin-left: -11%;
}

#contact .company .companyInfo {
  margin-top: 30px;
}

#contact .company .companyInfo h3 {
  font-size: 1.3rem;
}

#contact .company .companyInfo img {
  width: 30%;
  margin: 0 auto;
  display: block;
}

footer .copyright {
  width: 100%;
  margin: 80px auto 10px;
}

footer .copyright p {
  text-align: center;
  font-size: 0.8rem;
}

.fadeIn, .topFadeIn {
  opacity: 0;
  -webkit-transition: all .5s ease-in-out;
  transition: all .5s ease-in-out;
  -webkit-transform: translateY(30px);
          transform: translateY(30px);
}

.topFadeIn {
  -webkit-transform: translateX(-40px);
          transform: translateX(-40px);
}

.delay300 {
  -webkit-transition-delay: .3s;
          transition-delay: .3s;
}

.delay1000 {
  -webkit-transition-delay: 1s;
          transition-delay: 1s;
}

.delay1600 {
  -webkit-transition-delay: 1.6s;
          transition-delay: 1.6s;
}

.delay2100 {
  -webkit-transition-delay: 2.1s;
          transition-delay: 2.1s;
}

@-webkit-keyframes zoom {
  50% {
    -webkit-transform: scale(1.05);
            transform: scale(1.05);
  }
}

@keyframes zoom {
  50% {
    -webkit-transform: scale(1.05);
            transform: scale(1.05);
  }
}

@-webkit-keyframes arrow {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  70% {
    -webkit-transform: translateY(3px);
            transform: translateY(3px);
  }
  100% {
    -webkit-transform: translateY(3px);
            transform: translateY(3px);
  }
}

@keyframes arrow {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  70% {
    -webkit-transform: translateY(3px);
            transform: translateY(3px);
  }
  100% {
    -webkit-transform: translateY(3px);
            transform: translateY(3px);
  }
}

@-webkit-keyframes scroll {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  70% {
    -webkit-transform: translateY(100px);
            transform: translateY(100px);
  }
  100% {
    -webkit-transform: translateY(100px);
            transform: translateY(100px);
  }
}

@keyframes scroll {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  70% {
    -webkit-transform: translateY(100px);
            transform: translateY(100px);
  }
  100% {
    -webkit-transform: translateY(100px);
            transform: translateY(100px);
  }
}

@media (min-width: 600px) {
  html {
    font-size: 15px;
  }
  #loading .loading-image {
    width: 15%;
    margin: 0 auto;
    padding: 170px 0 0;
  }
  nav #topLogo {
    width: 120px;
    height: 120px;
    padding: 0 4px 0 0;
  }
  #mainVisual .mainMsg {
    top: 35%;
    left: 8%;
  }
  #mainVisual .mainMsg h2 {
    font-size: 4.5rem;
  }
  #mainVisual .mainMsg p,
  #mainVisual .mainMsg .topContact {
    font-size: 1.3rem;
  }
  #concept {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
  #concept::after {
    display: none;
  }
  #concept .inner {
    margin: -10px auto 0 -30px;
    min-width: 455px;
  }
  #concept .inner h2 {
    display: block;
    margin-left: -280px;
  }
  #concept .inner .msg {
    padding-left: 50px;
  }
  #concept .img-end {
    -webkit-transform: translateX(-225px);
            transform: translateX(-225px);
  }
  #concept .img-end .img-kitchen {
    min-width: 300px;
  }
  #concept .img-end .img-tableware {
    top: 21%;
    right: -8%;
    max-width: 170px;
  }
  .sunset {
    background-attachment: fixed;
  }
  #contact .company {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  #contact .company .telBlock {
    text-align: left;
    margin-left: 0;
    margin-top: 40px;
  }
  #contact .company .telBlock .icon {
    width: 100px;
  }
  #contact .company .companyInfo {
    text-align: right;
    margin-top: 0;
  }
  #contact .company .companyInfo img {
    width: 35%;
    margin-right: 0;
  }
}

@media (min-width: 900px) {
  #navigationSP,
  #mainVisual .topContact,
  #concept .inner .msg .inline {
    display: none;
  }
  .content-wrapper {
    width: 95%;
    margin-left: 5%;
  }
  .loading .loading-image {
    width: 10%;
    margin: 0 auto;
    padding: 160px 0 0;
  }
  nav {
    height: 70px;
    position: fixed;
    z-index: 888;
    top: 0;
    right: 0;
    background: white;
  }
  nav #topLogo {
    width: 130px;
    height: 130px;
  }
  nav .navigationPC {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin-left: 126px;
    margin-top: 0;
    padding-left: 100px;
    -webkit-box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.1);
            box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.1);
  }
  nav .navigationPC li {
    list-style-type: none;
    font-family: "Anton", sans-serif;
    font-weight: 800;
    padding: 12px;
    text-align: center;
  }
  nav .navigationPC li:last-child {
    background: #231F20;
    height: 70px;
  }
  nav .navigationPC li:last-child a {
    color: #fafafa;
  }
  nav .navigationPC li:last-child a:hover {
    border-top: #DC9248 solid 3px;
    color: #DC9248;
  }
  nav .navigationPC li a {
    text-decoration: none;
    color: #231F20;
    font-size: 1.6rem;
  }
  nav .navigationPC li a:hover {
    border-top: #231F20 solid 3px;
  }
  #mainVisual .slide {
    width: 100%;
    margin: 0 0 0 auto;
  }
  #mainVisual .mainMsg {
    top: 35%;
    left: 10%;
  }
  #mainVisual .mainMsg p {
    margin: 9px 0;
  }
  #mainVisual .mainMsg .topContact {
    margin: 9px 0;
  }
  #mainVisual .side-pc {
    display: block;
    position: fixed;
    -webkit-transform: rotate(90deg);
            transform: rotate(90deg);
    left: -120px;
    top: 48%;
  }
  #mainVisual .side-pc span {
    color: #DC9248;
  }
  #mainVisual .side-pc i {
    margin: 0 1px;
    -webkit-transition: all .5s ease;
    transition: all .5s ease;
  }
  #mainVisual .side-pc i:hover {
    cursor: pointer;
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
  }
  #concept .img-end {
    -webkit-transform: translateX(-30%);
            transform: translateX(-30%);
  }
  #concept .img-end .img-kitchen {
    min-width: 300px;
  }
  #lifestyle {
    margin-top: 100px;
  }
  #lifestyle .msg {
    margin-top: -5%;
  }
  #lifestyle .lifestyle {
    margin: 0;
  }
  #lifestyle .lifestyle .indoors-text {
    position: absolute;
    width: 35%;
    top: 18vw;
    left: 7%;
    padding: 0;
    color: white;
  }
  #lifestyle .lifestyle .indoors-text h4 {
    background: black;
  }
  #lifestyle .bgDark {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    -webkit-transition: all .8s;
    transition: all .8s;
    background-color: transparent;
  }
  #lifestyle .turnDark {
    background-color: rgba(0, 0, 0, 0.4);
  }
  .outdoors-wrap {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr;
  }
  .outdoors-wrap .outdoors .rescale {
    height: 23vw;
    -o-object-fit: cover;
       object-fit: cover;
  }
  #plan .flex {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  #plan .rescale {
    height: 38vw;
    -o-object-fit: cover;
       object-fit: cover;
  }
  #plan .bgBlack {
    position: relative;
  }
  #plan .bgBlack::before {
    content: '';
    width: 100%;
    height: 83%;
    top: 170px;
    right: 0;
  }
  #plan .bgBlack .txtBlock .msgBlock {
    background: transparent;
    margin-right: 10%;
  }
  #plan .bgBlack .txtBlock .msgBlock .description {
    width: 86%;
  }
  #plan .bgBlack .txtBlock .msgBlock .description a {
    display: none;
  }
  #contact .bgBlack {
    margin-top: 125px;
  }
  #contact .bgBlack .grid {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 5fr 4fr;
        grid-template-columns: 5fr 4fr;
  }
  #contact .bgBlack .grid .msg {
    padding-top: 8%;
  }
  #contact .bgBlack .grid .imgBlock {
    margin-top: -100px;
  }
  #contact .bgBlack .grid .button {
    padding-top: 0;
  }
  #contact .company {
    padding: 3%;
  }
}
/*# sourceMappingURL=style.css.map */